* {
	font-family: fantasy
	
}

html, body {
	height: 100%;
	margin: 0;
}

a {
	padding-left: 10px;
	padding-right: 10px;
}

a:link, a:visited {
 	color: black;
  	text-decoration: none;
  	cursor: auto;
}

a:link:active, a:visited:active {
  	color: black;
}

table {
	padding-top: 25px;
	padding-left: 10px;
}

.container {
	background: url("images/banner.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

.login {
	height: 100px;
	width: 250px;
	padding: 15px;
	margin: auto;
	margin-bottom: 20px;
	border: 10px solid black;
	position: relative;

}

#submit_b {
	width: 125px;
	text-align: center;
	margin: 25px auto;
}

#submit_ {
	font-size: 25px;
	text-align: center;
	padding: 10px;
}

.flashed_msg {
	margin: 10% auto;
	font-size: 45px;
	text-align: center;
}

.day {
	margin: auto;
	border: 10px;
}

.bar {
	font-size: 50px;
	height: 225px;
	width: 750px;
	padding: 5px;
	margin: auto;
	border: 3px solid black;
	position: relative;
	margin-top: 0px;
	top: 35%;
}

p#msg {
	margin: .5%;
}
